.section2-list_item{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}

.section2{
    margin: 0 10%;
}

.section2-list{
    padding: 0;
    text-align: left;
}

.section2-list a{
    color: rgb(74, 112, 148);
    text-decoration: none;
    text-align: left;
    width: 300px;
    margin-top: 0;
}

.section2-list a:hover,
.section2-list a:active{
    color: rgb(39, 60, 80);
}

.section2-list p{
    width: 600px;
    margin-bottom: 0;
}