{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Территория ответственности</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/territory.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c380c2a6d4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="backdrop">

        </div>
        <nav class="main-nav">

            <div class="logo">
                <a href="home"><img src="{% static 'main/img/logo_che.png' %}" alt=""></a>
            </div>

            <ul class="main-nav_items">
                
                <li class="main-nav_item nav_item1"><a href="#">Компания</a>
                    <div class="nav-list nav-list1">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="about">Общая информация</a></li>
                            <li class="nav-list_item"><a href="topmenegment">Территориая ответственности</a></li>
                            <li class="nav-list_item"><a href="topmenegment">Топ-менеджмент</a></li>
                            <li class="nav-list_item"><a href="priyomgrazhdan">Приём граждан</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item nav_item2"><a href="">Акционерам и инвесторам</a>
                    <div class="nav-list nav-list2">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="papers">Сведения о выпусках ценных бумаг</a></li>
                            <li class="nav-list_item"><a href="meeting">Решение общих собраний акционеров</a></li>
                            <li class="nav-list_item"><a href="directors">Совет директоров</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item nav_item3"><a href="">Потребителям</a>
                    <div class="nav-list nav-list3">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="office">Офисы обслуживания потребителей</a></li>
                            <li class="nav-list_item"><a href="technology">Технологическое присоединение</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item nav_item4"><a href="#">Пресс-центр</a>
                    <div class="nav-list nav-list4">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="news">Новости</a></li>
                            <li class="nav-list_item"><a href="gallery">Галерея</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item"><a href="contacts">Контакты</a></li>
            </ul>
        </nav>
        <div class="burger">
            <a href="#" class="menu-btn">
                <span class="burger-span"></span>
            </a>
        </div>

        <nav class="mob-nav">
            
            <div class="mob_logo">
                <a href="home"><img src="{% static 'main/img/logo_che.png' %}" alt=""></a>
            </div>
            
            <ul class="mob-nav_items">
                <li class="mob-nav_item"><a href="about">Компания</a></li>
                <li class="mob-nav_item"><a href="papers">Акционерам и инвесторам</a></li>
                <li class="mob-nav_item"><a href="office">Потребителям</a></li>
                <li class="mob-nav_item"><a href="news">Пресс-центр</a></li>
                <li class="mob-nav_item"><a href="contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <section class="section1">
        <ul class="section1-nav">
            <li class="section1-nav_item"><a href="about">Общая информация</a></li>
            <li class="section1-nav_item"><a href="territory">Территория отвественности</a></li>
            <li class="section1-nav_item"><a href="topmenegment">Топ-менеджмент</a></li>
            <li class="section1-nav_item"><a href="priyomgrazhdan">Приём граждан</a></li>
        </ul>
    </section>

    <section class="section2">
        <ol class="section2-items">
            <li class="section2-item">
                <h3>Грозненские городские электрические сети г. Грозный</h3>
            </li>
            <li class="section2-item">
                <h3>Аргунские городские электрические сети г. Аргун</h3>
            </li>
            <li class="section2-item">
                <h3>Гудермесские городские электрические сети г. Гудермес</h3>
            </li>
            <li class="section2-item">
                <h3 class="list-title1">Ачхой-Мартановские РЭС (Ачхой-Мартановский район) <span>+</span></h3>
                <ul class="territory-list territory-list1">
                    <li class="territory-list_item">село Ачхой-Мартан</li>
                    <li class="territory-list_item">село Бамут</li>
                    <li class="territory-list_item">село Валерик</li>
                    <li class="territory-list_item">село Давыденко</li>
                    <li class="territory-list_item">село Закан-Юрт</li>
                    <li class="territory-list_item">село Катар-Юрт</li>
                    <li class="territory-list_item">село Новый Шарой</li>
                    <li class="territory-list_item">село Самашки</li>
                    <li class="territory-list_item">село Старый Ачхой</li>
                    <li class="territory-list_item">село Хамби-Ирзе</li>
                    <li class="territory-list_item">село Шаами-Юрт</li>
                    <li class="territory-list_item">село Янди</li>
                    <li class="territory-list_item">село Кулары</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title2">Веденские РЭС (Веденский район) <span>+</span></h3>
                <ul class="territory-list territory-list2">
                    <li class="territory-list_item">село Агишбатой</li>
                    <li class="territory-list_item">село Белгатой</li>
                    <li class="territory-list_item">село Ведено</li>
                    <li class="territory-list_item">село Нефтянка</li>
                    <li class="territory-list_item">село Октябрьское</li>
                    <li class="territory-list_item">село Эшилхатой</li>
                    <li class="territory-list_item">село Гуни</li>
                    <li class="territory-list_item">село Марзой-Мохк</li>
                    <li class="territory-list_item">село Меседой</li>
                    <li class="territory-list_item">село Первомайское</li>
                    <li class="territory-list_item">село Дарго</li>
                    <li class="territory-list_item">село Дышне-Ведено</li>
                    <li class="territory-list_item">село Курчали</li>
                    <li class="territory-list_item">село Верхние Курчали</li>
                    <li class="territory-list_item">село Гезинчу</li>
                    <li class="territory-list_item">село Нижние Курчали</li>
                    <li class="territory-list_item">село Средние Курчали</li>
                    <li class="territory-list_item">село Шерди-Мохк</li>
                    <li class="territory-list_item">село Макажой</li>
                    <li class="territory-list_item">село Ари-Аул</li>
                    <li class="territory-list_item">село Арсой</li>
                    <li class="territory-list_item">село Буни</li>
                    <li class="territory-list_item">село Ригахой</li>
                    <li class="territory-list_item">село Садой</li>
                    <li class="territory-list_item">село Тунжи-Аул</li>
                    <li class="territory-list_item">село Хиндой</li>
                    <li class="territory-list_item">село Махкеты</li>
                    <li class="territory-list_item">село Сельментаузен</li>
                    <li class="territory-list_item">село Дуц-Хутор</li>
                    <li class="territory-list_item">село Кель-Аул</li>
                    <li class="territory-list_item">село Тазен-Кала</li>
                    <li class="territory-list_item">хутор Барзе</li>
                    <li class="territory-list_item">участок Жани-Ведено</li>
                    <li class="territory-list_item">хутор Кошка-Аре</li>
                    <li class="territory-list_item">хутор Ноже</li>
                    <li class="territory-list_item">хутор Юкарчой</li>
                    <li class="territory-list_item">село Тевзана</li>
                    <li class="territory-list_item">село Харачой</li>
                    <li class="territory-list_item">село Хатуни</li>
                    <li class="territory-list_item">село Хой</li>
                    <li class="territory-list_item">село Ихарой</li>
                    <li class="territory-list_item">село Кезеной</li>
                    <li class="territory-list_item">село Кулинхой</li>
                    <li class="territory-list_item">село Харкарой</li>
                    <li class="territory-list_item">село Ца-Ведено</li>
                    <li class="territory-list_item">село Берхатой</li>
                    <li class="territory-list_item">село Верхнее Ца-Ведено</li>
                    <li class="territory-list_item">село Элистанжи</li>
                    <li class="territory-list_item">село Эрсеной</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title3">Грозненские РЭС (Грозненский район) <span>+</span></h3>
                <ul class="territory-list territory-list3">
                    <li class="territory-list_item">село Алхан-Кала</li>
                    <li class="territory-list_item">село Беркат-Юрт</li>
                    <li class="territory-list_item">село Виноградное</li>
                    <li class="territory-list_item">село Горячеисточненское</li>
                    <li class="territory-list_item">село Дачу-Борзой</li>
                    <li class="territory-list_item">станица Ильинская</li>
                    <li class="territory-list_item">село Кень-Юрт</li>
                    <li class="territory-list_item">село Лаха-Варанды</li>
                    <li class="territory-list_item">село Центора-Юрт</li>
                    <li class="territory-list_item">село Октябрьское</li>
                    <li class="territory-list_item">село Красностепновское</li>
                    <li class="territory-list_item">станица Первомайская</li>
                    <li class="territory-list_item">станица Петропавловская</li>
                    <li class="territory-list_item">село Побединское</li>
                    <li class="territory-list_item">поселок Долинский</li>
                    <li class="territory-list_item">поселок Бартхой</li>
                    <li class="territory-list_item">поселок Гунюшки</li>
                    <li class="territory-list_item">село Керлаюрт</li>
                    <li class="territory-list_item">поселок Майский</li>
                    <li class="territory-list_item">село Нагорное</li>
                    <li class="territory-list_item">село Радужное</li>
                    <li class="territory-list_item">село Правобережное</li>
                    <li class="territory-list_item">село Газгородок</li>
                    <li class="territory-list_item">село Пролетарское</li>
                    <li class="territory-list_item">поселок Дружба</li>
                    <li class="territory-list_item">село Садовое</li>
                    <li class="territory-list_item">село Терское</li>
                    <li class="territory-list_item">село Толстой-Юрт</li>
                    <li class="territory-list_item">поселок Набережный</li>
                    <li class="territory-list_item">село Чишки</li>
                    <li class="territory-list_item">село Пионерское</li>
                    <li class="territory-list_item">ДТС Чишки</li>
                    <li class="territory-list_item">село Ярыш-Марды</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title4">Гудермесские РЭС (Гудермесский район) <span>+</span></h3>
                <ul class="territory-list territory-list4">
                    <li class="territory-list_item">Верхний-Герзель</li>
                    <li class="territory-list_item">Нижний-Герзель</li>
                    <li class="territory-list_item">село Азамат-Юрт</li>
                    <li class="territory-list_item">село Бельтой-Юрт</li>
                    <li class="territory-list_item">Брагунское</li>
                    <li class="territory-list_item">село Брагуны</li>
                    <li class="territory-list_item">село Верхний Нойбера</li>
                    <li class="territory-list_item">село Герзель-Аул</li>
                    <li class="territory-list_item">село Гордали-Юрт</li>
                    <li class="territory-list_item">село Дарбанхи</li>
                    <li class="territory-list_item">поселок Джалка</li>
                    <li class="territory-list_item">село Иласхан-Юрт</li>
                    <li class="territory-list_item">село Ишхой-Юрт</li>
                    <li class="territory-list_item">село Кади-Юрт</li>
                    <li class="territory-list_item">село Комсомольское</li>
                    <li class="territory-list_item">село Кошкельды</li>
                    <li class="territory-list_item">село МелчуХе</li>
                    <li class="territory-list_item">село Нижний Нойбера</li>
                    <li class="territory-list_item">село Новый Энгеной</li>
                    <li class="territory-list_item">поселок Ойсхара</li>
                    <li class="territory-list_item">село Хангиш-Юрт</li>
                    <li class="territory-list_item">село Шуани</li>
                    <li class="territory-list_item">село Энгель-Юрт</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title5">Итум-Калинские РЭС (Итум-Калинский район) <span>+</span></h3>
                <ul class="territory-list territory-list5">
                    <li class="territory-list_item">село Баулой</li>
                    <li class="territory-list_item">село Гезах</li>
                    <li class="territory-list_item">село Бугарой</li>
                    <li class="territory-list_item">село Ведучи</li>
                    <li class="territory-list_item">село Гухой</li>
                    <li class="territory-list_item">село Конжухой</li>
                    <li class="territory-list_item">село Мулкой</li>
                    <li class="territory-list_item">село Гучум-Кале</li>
                    <li class="territory-list_item">село Башин-Кали</li>
                    <li class="territory-list_item">село Зумсой</li>
                    <li class="territory-list_item">село Итум-Кале</li>
                    <li class="territory-list_item">село Кокадой</li>
                    <li class="territory-list_item">село Моцкарой</li>
                    <li class="territory-list_item">село Верхний Бара</li>
                    <li class="territory-list_item">село Кенахо</li>
                    <li class="territory-list_item">село Шюнда</li>
                    <li class="territory-list_item">село Эрстахо</li>
                    <li class="territory-list_item">село Тазбичи</li>
                    <li class="territory-list_item">село Верхний Цамадой</li>
                    <li class="territory-list_item">село Хелды</li>
                    <li class="territory-list_item">село Тусхарой</li>
                    <li class="territory-list_item">село Басхо</li>
                    <li class="territory-list_item">село Бечиги</li>
                    <li class="territory-list_item">село Ботурчу</li>
                    <li class="territory-list_item">село Цацах</li>
                    <li class="territory-list_item">село Эзихо</li>
                    <li class="territory-list_item">село Ушкалой</li>
                    <li class="territory-list_item">село Хилдехарой</li>
                    <li class="territory-list_item">село Люнки</li>
                    <li class="territory-list_item">село Сакан-Йисте</li>
                    <li class="territory-list_item">село Хозачу</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title6">Шаройский район <span>+</span></h3>
                <ul class="territory-list territory-list6">
                    <li class="territory-list_item">село Бути</li>
                    <li class="territory-list_item">село Кенхи</li>
                    <li class="territory-list_item">село Кесалой</li>
                    <li class="territory-list_item">село Кири</li>
                    <li class="territory-list_item">село Хакмадой</li>
                    <li class="territory-list_item">село Химой</li>
                    <li class="territory-list_item">село Хуландой</li>
                    <li class="territory-list_item">село Цеси</li>
                    <li class="territory-list_item">село Чайры</li>
                    <li class="territory-list_item">село Шарой</li>
                    <li class="territory-list_item">село Шикарой</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title7">Курчалоевские РЭС (Курчалоевский район) <span>+</span></h3>
                <ul class="territory-list territory-list7">
                    <li class="territory-list_item">село Аллерой</li>
                    <li class="territory-list_item">село Ахкинчу-Борзой</li>
                    <li class="territory-list_item">село Бачи-Юрт</li>
                    <li class="territory-list_item">село Гелдаган</li>
                    <li class="territory-list_item">село Джигурты</li>
                    <li class="territory-list_item">село Курчалой</li>
                    <li class="territory-list_item">село Майртуп</li>
                    <li class="territory-list_item">село Регита</li>
                    <li class="territory-list_item">село Ачирешки</li>
                    <li class="territory-list_item">село Джагларги</li>
                    <li class="territory-list_item">село Хиди-Хутор</li>
                    <li class="territory-list_item">село Курень-Беной</li>
                    <li class="territory-list_item">село Центорой</li>
                    <li class="territory-list_item">село Цоцин-Юрт</li>
                    <li class="territory-list_item">село Эникали</li>
                    <li class="territory-list_item">село Ялхой-Мохк</li>
                    <li class="territory-list_item">село Иласхан-Юрт</li>
                    <li class="territory-list_item">село Бельты</li>
                    <li class="territory-list_item">село Усум-Хутор</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title8">Надтеречный РЭС (Надтеречный район) <span>+</span></h3>
                <ul class="territory-list territory-list8">
                    <li class="territory-list_item">Бено-Юртовское</li>
                    <li class="territory-list_item">село Бено-Юрт</li>
                    <li class="territory-list_item">село Братское</li>
                    <li class="territory-list_item">село Верхний Наур</li>
                    <li class="territory-list_item">село Гвардейское</li>
                    <li class="territory-list_item">поселок Горагорский</li>
                    <li class="territory-list_item">село Зебир-Юрт</li>
                    <li class="territory-list_item">село Знаменское</li>
                    <li class="territory-list_item">село Калаус</li>
                    <li class="territory-list_item">село Комарово</li>
                    <li class="territory-list_item">село Мекен-Юрт</li>
                    <li class="territory-list_item">село Надтеречное</li>
                    <li class="territory-list_item">13 хутор усадьба г/х "Миниральный" 14 село Подгорное</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title9">Наурский РЭС (Наурский район) <span>+</span></h3>
                <ul class="territory-list territory-list9">
                    <li class="territory-list_item">село Алпатово</li>
                    <li class="territory-list_item">село Свободное</li>
                    <li class="territory-list_item">станица Ищерская</li>
                    <li class="territory-list_item">село Дальнее</li>
                    <li class="territory-list_item">хутор Кречетово</li>
                    <li class="territory-list_item">станица Калиновская</li>
                    <li class="territory-list_item">хутор Козлов</li>
                    <li class="territory-list_item">хутор Постный</li>
                    <li class="territory-list_item">хутор Селиванкин</li>
                    <li class="territory-list_item">село Левобережное</li>
                    <li class="territory-list_item">село Юбилейное</li>
                    <li class="territory-list_item">станица Мекенская</li>
                    <li class="territory-list_item">хутор Клинков</li>
                    <li class="territory-list_item">хутор Майорский</li>
                    <li class="territory-list_item">хутор Мирный</li>
                    <li class="territory-list_item">станица Наурская</li>
                    <li class="territory-list_item">станица Николаевская</li>
                    <li class="territory-list_item">хутор Обильный</li>
                    <li class="territory-list_item">хутор Семиколодцев</li>
                    <li class="territory-list_item">хутор Суворовский</li>
                    <li class="territory-list_item">село Новое Солкушино</li>
                    <li class="territory-list_item">село Новотерское</li>
                    <li class="territory-list_item">хутор Корнеев</li>
                    <li class="territory-list_item">село Рубежное</li>
                    <li class="territory-list_item">станица Савельевская</li>
                    <li class="territory-list_item">село Ульяновское</li>
                    <li class="territory-list_item">село Фрунзенское</li>
                    <li class="territory-list_item">село Чернокозово</li>
                    <li class="territory-list_item">хутор Капустино</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title10">Ножай-Юртовский РЭС (Ножай-Юртовский район) <span>+</span></h3>
                <ul class="territory-list territory-list10">
                    <li class="territory-list_item">село Айти-Мохк</li>
                    <li class="territory-list_item">село Аллерой</li>
                    <li class="territory-list_item">село Исай-Юрт</li>
                    <li class="territory-list_item">село Совраги</li>
                    <li class="territory-list_item">село Турты-Хутор</li>
                    <li class="territory-list_item">село Байтарки</li>
                    <li class="territory-list_item">село Татай-Хутор</li>
                    <li class="territory-list_item">село Балансу</li>
                    <li class="territory-list_item">село Беной-Ведено</li>
                    <li class="territory-list_item">село Беной</li>
                    <li class="territory-list_item">село Алхан-Хутор</li>
                    <li class="territory-list_item">село Гуржи-Мохк</li>
                    <li class="territory-list_item">село Денги-Юрт</li>
                    <li class="territory-list_item">село Корен-Беной</li>
                    <li class="territory-list_item">село Ожи-Юрт</li>
                    <li class="territory-list_item">село Оси-Юрт</li>
                    <li class="territory-list_item">село Пачу</li>
                    <li class="territory-list_item">село Стерч-Керч</li>
                    <li class="territory-list_item">село Галайты</li>
                    <li class="territory-list_item">село Гендерген</li>
                    <li class="territory-list_item">село Зандак-Ара</li>
                    <li class="territory-list_item">село Гиляны</li>
                    <li class="territory-list_item">село Гордали</li>
                    <li class="territory-list_item">село Бас-Гордали</li>
                    <li class="territory-list_item">село Макс-Хутор</li>
                    <li class="territory-list_item">село Хашки-Мохк</li>
                    <li class="territory-list_item">село Даттых</li>
                    <li class="territory-list_item">село Булгат-Ирзу</li>
                    <li class="territory-list_item">село Чеччель-Юх</li>
                    <li class="territory-list_item">село Замай-Юрт</li>
                    <li class="territory-list_item">село Зандак</li>
                    <li class="territory-list_item">село Бетти-Мохк</li>
                    <li class="territory-list_item">село Новый Замай-Юрт</li>
                    <li class="territory-list_item">село Согунты</li>
                    <li class="territory-list_item">село Ножай-Юрт</li>
                    <li class="territory-list_item">село Мехкишты</li>
                    <li class="territory-list_item">село Чурч-Ирзу</li>
                    <li class="territory-list_item">село Рогун-Кажа</li>
                    <li class="territory-list_item">село Бильты</li>
                    <li class="territory-list_item">село Ишой-Хутор</li>
                    <li class="territory-list_item">село Хочи-Ара</li>
                    <li class="territory-list_item">село Саясан</li>
                    <li class="territory-list_item">село Симсир</li>
                    <li class="territory-list_item">село Центорой</li>
                    <li class="territory-list_item">село Шовхал-Берды</li>
                    <li class="territory-list_item">село Бешиль-Ирзу</li>
                    <li class="territory-list_item">село Девлатби-Хутор</li>
                    <li class="territory-list_item">село Шуани</li>
                    <li class="territory-list_item">село Малые-Шуани</li>
                    <li class="territory-list_item">село Энгеной</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title11">Сунженский производственный участок (Сунженский район) <span>+</span></h3>
                <ul class="territory-list territory-list11">
                    <li class="territory-list_item">станица Ассиновская</li>
                    <li class="territory-list_item">село Серноводское</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title12">Урус-Мартановский РЭС (Урус-Мартановский район) <span>+</span></h3>
                <ul class="territory-list territory-list12">
                    <li class="territory-list_item">г. Урус-Мартан</li>
                    <li class="territory-list_item">село Алхазурово</li>
                    <li class="territory-list_item">село Алхан-Юрт</li>
                    <li class="territory-list_item">посёлок Краснопартизанский</li>
                    <li class="territory-list_item">село Гехи</li>
                    <li class="territory-list_item">село Гехи-Чу</li>
                    <li class="territory-list_item">село Гойское</li>
                    <li class="territory-list_item">село Гойты</li>
                    <li class="territory-list_item">село Серноводское</li>
                    <li class="territory-list_item">село Гой-Чу</li>
                    <li class="territory-list_item">село Мартан-Чу</li>
                    <li class="territory-list_item">село Рошни-Чу</li>
                    <li class="territory-list_item">село Танги-Чу</li>
                    <li class="territory-list_item">село Шалажи</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title13">Шалинский РЭС (Шалинский район) <span>+</span></h3>
                <ul class="territory-list territory-list13">
                    <li class="territory-list_item">г. Шали</li>
                    <li class="territory-list_item">село Автуры</li>
                    <li class="territory-list_item">село Агишты</li>
                    <li class="territory-list_item">село Белгатой</li>
                    <li class="territory-list_item">село Герменчук</li>
                    <li class="territory-list_item">село Дуба-Юрт</li>
                    <li class="territory-list_item">село Новые Атаги</li>
                    <li class="territory-list_item">село Сержень-Юрт</li>
                    <li class="territory-list_item">поселок Чири-Юрт</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title14">Шатоевский РЭС (Шатойский район) <span>+</span></h3>
                <ul class="territory-list territory-list14">
                    <li class="territory-list_item">село Асланбек-Шерипово</li>
                    <li class="territory-list_item">село Беной</li>
                    <li class="territory-list_item">село Дехесты</li>
                    <li class="territory-list_item">село Мускали</li>
                    <li class="territory-list_item">село Мусолт-Аул</li>
                    <li class="territory-list_item">село Большие Варанды</li>
                    <li class="territory-list_item">село Сюжи</li>
                    <li class="territory-list_item">село Борзой</li>
                    <li class="territory-list_item">село Рядухой</li>
                    <li class="territory-list_item">село Тумсой</li>
                    <li class="territory-list_item">село Вашиндарой</li>
                    <li class="territory-list_item">село Высокогорное</li>
                    <li class="territory-list_item">село Горгачи</li>
                    <li class="territory-list_item">село Дай</li>
                    <li class="territory-list_item">село Зоны</li>
                    <li class="territory-list_item">село Нихалой</li>
                    <li class="territory-list_item">село Нохчи-Келой</li>
                    <li class="territory-list_item">село Памятой</li>
                    <li class="territory-list_item">село Бекум-Кале</li>
                    <li class="territory-list_item">село Вярды</li>
                    <li class="territory-list_item">село Гуш-Керт</li>
                    <li class="territory-list_item">село Сатти</li>
                    <li class="territory-list_item">село Урдюхой</li>
                    <li class="territory-list_item">село Юкерч-Келой</li>
                    <li class="territory-list_item">село Улус-Керт</li>
                    <li class="territory-list_item">село Хал-Килой</li>
                    <li class="territory-list_item">село Саной</li>
                    <li class="territory-list_item">село Харсеной</li>
                    <li class="territory-list_item">село Малый Харсеной</li>
                    <li class="territory-list_item">село Шаро-Аргун</li>
                    <li class="territory-list_item">село Шатой</li>
                    <li class="territory-list_item">село Хаккой</li>
                </ul>
            </li>
            <li class="section2-item">
                <h3 class="list-title15">Шелковский РЭС (Шелковской район) <span>+</span></h3>
                <ul class="territory-list territory-list15">
                    <li class="territory-list_item">станица Бороздиновская</li>
                    <li class="territory-list_item">село Бурунское</li>
                    <li class="territory-list_item">село Зеленое</li>
                    <li class="territory-list_item">село Песчаное</li>
                    <li class="territory-list_item">село Рунное</li>
                    <li class="territory-list_item">село Воскресенское</li>
                    <li class="territory-list_item">станица Гребенская</li>
                    <li class="territory-list_item">станица Дубовская</li>
                    <li class="territory-list_item">станица Каргалинская</li>
                    <li class="territory-list_item">село Каршыга-Аул</li>
                    <li class="territory-list_item">село Коби</li>
                    <li class="territory-list_item">станица Курдюковская</li>
                    <li class="territory-list_item">станица Новощедринская</li>
                    <li class="territory-list_item">село Ораз-Аул</li>
                    <li class="territory-list_item">село Сары-Су</li>
                    <li class="territory-list_item">поселок Красный Восход</li>
                    <li class="territory-list_item">поселок Мирный</li>
                    <li class="territory-list_item">станица Старогладовская</li>
                    <li class="territory-list_item">станица Старощедринская</li>
                    <li class="territory-list_item">село Харьковское</li>
                    <li class="territory-list_item">станица Червленно-Узловая</li>
                    <li class="territory-list_item">станица Червленная</li>
                    <li class="territory-list_item">станица Шелковская</li>
                    <li class="territory-list_item">станица Шелкозаводская</li>
                    <li class="territory-list_item">хутор Парабоч</li>
                </ul>
            </li>
        </ol>
    </section>


    <footer>
        <ul class="footer-nav">
            <li class="footer-nav_item"><a href="home">Главная</a></li>
            <li class="footer-nav_item"><a href="about">Компания</a></li>
            <li class="footer-nav_item"><a href="papers">Акционерам и инвесторам</a></li>
            <li class="footer-nav_item"><a href="office">Потребителям</a></li>
            <li class="footer-nav_item"><a href="news">Пресс-центр</a></li>
            <li class="footer-nav_item"><a href="contacts">Контакты</a></li>
        </ul>

        <ul class="footer-contacts">
            <li class="footer-contact">Телефон: 8 (8712) 22-64-38</li>
            <li class="footer-contact">E-mail: info@chechenergo.ru</li>
            <li class="footer-contact">ЦЕНТР ОБСЛУЖИВАНИЯ ПОТРЕБИТЕЛЕЙ: 8(928) 478-44-10</li>
            <li class="footer-contact">ГОРЯЧАЯ ЛИНИЯ: 8-800-220-02-20</li>
        </ul>
        <ul class="footer-icons">
            <li class="footer-icon"><a href="http://www.cbr.ru/"><img src="{% static 'main/img/bankrussia.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="http://www.atsenergo.ru/"><img src="{% static 'main/img/атс.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://meta.ru/"><img src="{% static 'main/img/fst.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://fas.gov.ru/"><img src="{% static 'main/img/fas.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://www.np-sr.ru/ru"><img src="{% static 'main/img/npsovet.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://minenergo.gov.ru/"><img src="{% static 'main/img/min.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="http://www.rosseti.ru/"><img src="{% static 'main/img/rosseti.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="http://xn----ftbfgnvefarcdio2nna.xn--p1ai/"><img src="{% static 'main/img/souz.png' %}" alt=""></a></li>
        </ul>
        <ul class="footer-social">
            <li class="social-icon"><a href="https://www.youtube.com/channel/UCd80j1zNJXsD4XPSdGZD08g"><i class="fab fa-youtube"></i></a></li>
            <li class="social-icon"><a href="https://www.facebook.com/chechenenergo/"><i class="fab fa-facebook-square"></i></a></li>
            <li class="social-icon"><a href="https://twitter.com/chechenenergo?s=08"><i class="fab fa-twitter-square"></i></a></li>
            <li class="social-icon"><a href="https://www.instagram.com/chechenenergo/?hl=ru"><i class="fab fa-instagram-square"></i></a></li>
            <li class="social-icon"><a href="https://vk.com/chechenenergo"><i class="fab fa-vk"></i></a></li>
            <li class="social-icon"><a href="https://t-do.ru/chechenergo"><i class="fab fa-telegram"></i></a></li>
        </ul>
    </footer>
    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>