{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Технологическое присоединение</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/potrebitel/technology.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c380c2a6d4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="backdrop">

        </div>
        <nav class="main-nav">

            <div class="logo">
                <a href="home"><img src="{% static 'main/img/logo_che.png' %}" alt=""></a>
            </div>

            <ul class="main-nav_items">
                
                <li class="main-nav_item nav_item1"><a href="#">Компания</a>
                    <div class="nav-list nav-list1">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="about">Общая информация</a></li>
                            <li class="nav-list_item"><a href="territory">Территория ответственности</a></li>
                            <li class="nav-list_item"><a href="topmenegment">Топ-менеджмент</a></li>
                            <li class="nav-list_item"><a href="priyomgrazhdan">Приём граждан</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item nav_item2"><a href="">Акционерам и инвесторам</a>
                    <div class="nav-list nav-list2">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="papers">Сведения о выпусках ценных бумаг</a></li>
                            <li class="nav-list_item"><a href="meeting">Решение общих собраний акционеров</a></li>
                            <li class="nav-list_item"><a href="directors">Совет директоров</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item nav_item3"><a href="">Потребителям</a>
                    <div class="nav-list nav-list3">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="office">Офисы обслуживания потребителей</a></li>
                            <li class="nav-list_item"><a href="technology">Технологическое присоединение</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item nav_item4"><a href="#">Пресс-центр</a>
                    <div class="nav-list nav-list4">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="news">Новости</a></li>
                            <li class="nav-list_item"><a href="gallery">Галерея</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item"><a href="contacts">Контакты</a></li>
            </ul>
        </nav>
        <div class="burger">
            <a href="#" class="menu-btn">
                <span class="burger-span"></span>
            </a>
        </div>

        <nav class="mob-nav">
            
            <div class="mob_logo">
                <a href="home"><img src="{% static 'main/img/logo_che.png' %}" alt=""></a>
            </div>
            
            <ul class="mob-nav_items">
                <li class="mob-nav_item"><a href="about">Компания</a></li>
                <li class="mob-nav_item"><a href="papers">Акционерам и инвесторам</a></li>
                <li class="mob-nav_item"><a href="office">Потребителям</a></li>
                <li class="mob-nav_item"><a href="news">Пресс-центр</a></li>
                <li class="mob-nav_item"><a href="contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <section class="section1">
        <ul class="section1-nav">
            <li class="section1-nav_item"><a href="office">Офисы обслуживания потребителей</a></li>
            <li class="section1-nav_item"><a href="technology">Технологическое присоединение</a></li>
        </ul>
    </section>

    <section class="section2">
        <h1>ТЕХНОЛОГИЧЕСКОЕ ПРИСОЕДИНЕНИЕ</h1>
        <h2>ОБЩАЯ ИНФОРМАЦИЯ</h2>
        <p>Технологическое присоединение – комплекс мероприятий, 
            обеспечивающих в совокупности фактическое присоединение 
            энергопринимающих устройств Заявителя к электрическим сетям 
            с осуществлением фактической подачи (приема) напряжения и 
            мощности на энергопринимающие устройства Заявителя 
            (фиксация коммутационного аппарата в положении «включено»).</p>
        <h2>УСЛУГА ПО ТЕХНОЛОГИЧЕСКОМУ ПРИСОЕДИНЕНИЮ ОКАЗЫВАЕТСЯ В СЛУЧАЯХ:</h2>
        <p>присоединения впервые вводимых в эксплуатацию;
            <br>ранее присоединенных реконструируемых энергопринимающих устройств, 
            присоединенная мощность которых увеличивается;
            <br>при которых в отношении ранее присоединенных 
            энергопринимающих устройств изменяются категория надежности электроснабжения, 
            точки присоединения, виды производственной деятельности, 
            не влекущие пересмотр величины присоединенной мощности, 
            но изменяющие схему внешнего электроснабжения таких энергопринимающих устройств.</p>
        <h2>ПРОЦЕДУРА ПО ТЕХНОЛОГИЧЕСКОМУ ПРИСОЕДИНЕНИЮ ВКЛЮЧАЕТ В СЕБЯ:</h2>
        <p>1. подача заявки юридическим или физическим лицом, 
            которое имеет намерение осуществить технологическое присоединение, 
            реконструкцию энергопринимающих устройств и увеличение объема присоединенной мощности, 
            а также изменить категорию надежности электроснабжения, точки присоединения, 
            виды производственной деятельности, не влекущие пересмотр (увеличение) 
            величины присоединенной мощности, но изменяющие схему внешнего 
            электроснабжения энергопринимающих устройств заявителя;
            <br>2. заключение договора;
            <br>3. выполнение сторонами договора мероприятий, предусмотренных договором;
            <br>4. получение разрешения уполномоченного федерального органа исполнительной 
            власти по технологическому надзору на допуск в эксплуатацию объектов заявителя 
            (за исключением объектов лиц, технологическое присоединение которых осуществляется 
            по одному источнику электроснабжения энергопринимающих устройств, 
            максимальная мощность которых составляет до 100 кВт включительно 
            (с учетом ранее присоединенной в данной точке присоединения мощности));
            <br>4.1. осуществление сетевой организацией фактического присоединения 
            объектов заявителя к электрическим сетям. Для целей настоящих 
            Правил под фактическим присоединением понимается комплекс технических и 
            организационных мероприятий, обеспечивающих физическое соединение 
            (контакт) объектов электросетевого хозяйства сетевой организации, 
            в которую была подана заявка, и объектов заявителя (энергопринимающих устройств) 
            без осуществления фактической подачи (приема) напряжения и мощности на объекты заявителя 
            (фиксация коммутационного аппарата в положении «отключено»);
            <br>4.2. фактический прием (подача) напряжения и мощности, 
            осуществляемый путем включения коммутационного аппарата 
            (фиксация коммутационного аппарата в положении «включено»);
            <br>5. составление акта о технологическом присоединении и акта разграничения 
            балансовой принадлежности и эксплуатационной ответственности.</p>
        <h2>МЕРОПРИЯТИЯ ПО ТЕХНОЛОГИЧЕСКОМУ ПРИСОЕДИНЕНИЮ ВКЛЮЧАЮТ В СЕБЯ:</h2>
        <p>1. подготовку, выдачу сетевой организацией технических условий и их согласование 
            с системным оператором (субъектом оперативно-диспетчерского управления 
            в технологически изолированных территориальных электроэнергетических системах), 
            а в случае выдачи технических условий электростанцией - согласование их с системным оператором 
            (субъектом оперативно-диспетчерского управления в технологически изолированных 
            территориальных электроэнергетических системах) и со смежными сетевыми организациями;
            <br>2. разработку сетевой организацией проектной документации согласно обязательствам, 
            предусмотренным техническими условиями;
            <br>3. разработку заявителем проектной документации в границах его земельного участка 
            согласно обязательствам, предусмотренным техническими условиями, 
            за исключением случаев, когда в соответствии с законодательством Российской Федерации 
            о градостроительной деятельности разработка проектной документации не является обязательной;
            <br>4. выполнение технических условий заявителем и сетевой организацией, 
            включая осуществление сетевой организацией мероприятий по подключению 
            энергопринимающих устройств под действие аппаратуры противоаварийной и 
            режимной автоматики в соответствии с техническими условиями;
            <br>5. проверку сетевой организацией выполнения заявителем технических условий;
            <br>6. осмотр (обследование) присоединяемых энергопринимающих устройств 
            должностным лицом федерального органа исполнительной власти по технологическому 
            надзору при участии сетевой организации и собственника таких устройств, 
            а также соответствующего субъекта оперативно-диспетчерского управления в случае, 
            если технические условия подлежат в соответствии с настоящими Правилами согласованию 
            с таким субъектом оперативно-диспетчерского управления 
            (для лиц, технологическое присоединение энергоустановок которых осуществляется 
            по одному источнику электроснабжения энергопринимающих устройств, 
            максимальная мощность которых составляет до 100 кВт включительно 
            (с учетом ранее присоединенной в данной точке присоединения мощности), 
            осмотр присоединяемых энергопринимающих устройств должен 
            осуществляться с участием сетевой организации и заявителя);
            <br>7. осуществление сетевой организацией фактического присоединения 
            объектов заявителя к электрическим сетям и включение коммутационного аппарата 
            (фиксация коммутационного аппарата в положении «включено»).</p>
    </section>


    <footer>
        <ul class="footer-nav">
            <li class="footer-nav_item"><a href="home">Главная</a></li>
            <li class="footer-nav_item"><a href="about">Компания</a></li>
            <li class="footer-nav_item"><a href="papers">Акционерам и инвесторам</a></li>
            <li class="footer-nav_item"><a href="office">Потребителям</a></li>
            <li class="footer-nav_item"><a href="news">Пресс-центр</a></li>
            <li class="footer-nav_item"><a href="contacts">Контакты</a></li>
        </ul>

        <ul class="footer-contacts">
            <li class="footer-contact">Телефон: 8 (8712) 22-64-38</li>
            <li class="footer-contact">E-mail: info@chechenergo.ru</li>
            <li class="footer-contact">ЦЕНТР ОБСЛУЖИВАНИЯ ПОТРЕБИТЕЛЕЙ: 8(928) 478-44-10</li>
            <li class="footer-contact">ГОРЯЧАЯ ЛИНИЯ: 8-800-220-02-20</li>
        </ul>
        <ul class="footer-icons">
            <li class="footer-icon"><a href="http://www.cbr.ru/"><img src="{% static 'main/img/bankrussia.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="http://www.atsenergo.ru/"><img src="{% static 'main/img/атс.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://meta.ru/"><img src="{% static 'main/img/fst.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://fas.gov.ru/"><img src="{% static 'main/img/fas.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://www.np-sr.ru/ru"><img src="{% static 'main/img/npsovet.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://minenergo.gov.ru/"><img src="{% static 'main/img/min.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="http://www.rosseti.ru/"><img src="{% static 'main/img/rosseti.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="http://xn----ftbfgnvefarcdio2nna.xn--p1ai/"><img src="{% static 'main/img/souz.png' %}" alt=""></a></li>
        </ul>
        <ul class="footer-social">
            <li class="social-icon"><a href="https://www.youtube.com/channel/UCd80j1zNJXsD4XPSdGZD08g"><i class="fab fa-youtube"></i></a></li>
            <li class="social-icon"><a href="https://www.facebook.com/chechenenergo/"><i class="fab fa-facebook-square"></i></a></li>
            <li class="social-icon"><a href="https://twitter.com/chechenenergo?s=08"><i class="fab fa-twitter-square"></i></a></li>
            <li class="social-icon"><a href="https://www.instagram.com/chechenenergo/?hl=ru"><i class="fab fa-instagram-square"></i></a></li>
            <li class="social-icon"><a href="https://vk.com/chechenenergo"><i class="fab fa-vk"></i></a></li>
            <li class="social-icon"><a href="https://t-do.ru/chechenergo"><i class="fab fa-telegram"></i></a></li>
        </ul>
    </footer>
    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>