h5{
    font-size: 1.5rem;
}

.section2{
    margin: 0 10%;
}


table {
    font-size: 1.2rem;
    border-collapse: collapse;
    text-align: center;
    
}

th, td:first-child {
    background: #797979;
    color: white;
    padding: 10px 10px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #afafaf;
}

th:first-child, td:first-child {
    text-align: left;
    width: 100px;
}

@media(max-width: 1080px){
    table{
        font-size: .9rem;
    }
}


@media(max-width: 780px){
    .section2{
        margin: 0;
        padding: 0;
    }

    table{
        font-size: .5rem;
    }

    th:first-child, td:first-child{
        width: auto;
    }
}

@media(max-width: 420px){
    table{
        width: 100vw;
        font-size: .4rem;
    }
}