.section2{
    margin: 24px 50px;
}

.gallery_img{
    background-size: cover;
    background-position: 50% 50%;
    width: 200px;
    height: 200px;
    box-shadow: 6px 6px 0 rgb(63, 63, 63);
}

.gallery_img1{
    background-image: url('../../img/gallery/img1.jpg');
}

.gallery_img2{
    background-image: url('../../img/gallery/img2.jpg');
}

.gallery_img3{
    background-image: url('../../img/gallery/img3.jpg');
}
.gallery_img4{
    background-image: url('../../img/gallery/img4.jpg');
}
.gallery_img5{
    background-image: url('../../img/gallery/img5.jpg');
}
.gallery_img6{
    background-image: url('../../img/gallery/img6.jpg');
}


.section2_imgs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    grid-gap: 12px;
}

/* .gallery_img1{
    grid-column: 1 / 2;
}

.gallery_img2{
    grid-column-start: 3;
}

.gallery_img3{
    grid-column-start: 4;
}

.gallery_img4{
    grid-column-start: 1;
}

.gallery_img5{
    grid-column: 2 / 3;
}

.gallery_img6{
    grid-column-start: 4;
} */


/* стили модального окна 4 секции */

.gallery-modal{
    position: fixed;
    top: 10px;
    left: 15vw;
    right: 15vw;
    width: 70vw;    
    z-index: 30000;
    background: rgb(63, 63, 63);
    border-radius: 5px;
    display: none;
}

.modal-x{
    color: #fff;
    font-size: 1.5rem;
    z-index: 30001;
    text-decoration: none;
    width: 100%;
    padding: 0 12px 0 0;
    text-align: right;
}

.modal-img{    
    width: 90%;
    margin-bottom: 12px;
    border-radius: 5px;
    display: none;    
}

.backdrop2 {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 29000;
    width: 100vw;
    height: 100vh;  
    background-color: rgba(0,0,0, .5);
}

.modal-img_active{
    display: block;
}

.gallery-modal_active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.backdrop2_active{
    display: block;
}