{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сведения о выпусках ценных бумаг</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/about.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/aktsioneram/papers.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c380c2a6d4.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="backdrop">

        </div>
        <nav class="main-nav">

            <div class="logo">
                <a href="home"><img src="{% static 'main/img/logo_che.png' %}" alt=""></a>
            </div>

            <ul class="main-nav_items">
                
                <li class="main-nav_item nav_item1"><a href="#">Компания</a>
                    <div class="nav-list nav-list1">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="about">Общая информация</a></li>
                            <li class="nav-list_item"><a href="territory">Территориальная ответственность</a></li>
                            <li class="nav-list_item"><a href="topmenegment">Топ-менеджмент</a></li>
                            <li class="nav-list_item"><a href="priyomgrazhdan">Приём граждан</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item nav_item2"><a href="">Акционерам и инвесторам</a>
                    <div class="nav-list nav-list2">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="papers">Сведения о выпусках ценных бумаг</a></li>
                            <li class="nav-list_item"><a href="meeting">Решение общих собраний акционеров</a></li>
                            <li class="nav-list_item"><a href="directors">Совет директоров</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item nav_item3"><a href="">Потребителям</a>
                    <div class="nav-list nav-list3">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="office">Офисы обслуживания потребителей</a></li>
                            <li class="nav-list_item"><a href="technology">Технологическое присоединение</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item nav_item4"><a href="#">Пресс-центр</a>
                    <div class="nav-list nav-list4">
                        <ul class="nav-list_items">
                            <li class="nav-list_item"><a href="news">Новости</a></li>
                            <li class="nav-list_item"><a href="gallery">Галерея</a></li>
                        </ul>
                    </div>
                </li>
                <li class="main-nav_item"><a href="contacts">Контакты</a></li>
            </ul>
        </nav>
        <div class="burger">
            <a href="#" class="menu-btn">
                <span class="burger-span"></span>
            </a>
        </div>

        <nav class="mob-nav">
            
            <div class="mob_logo">
                <a href="home"><img src="{% static 'main/img/logo_che.png' %}" alt=""></a>
            </div>
            
            <ul class="mob-nav_items">
                <li class="mob-nav_item"><a href="about">Компания</a></li>
                <li class="mob-nav_item"><a href="papers">Акционерам и инвесторам</a></li>
                <li class="mob-nav_item"><a href="office">Потребителям</a></li>
                <li class="mob-nav_item"><a href="news">Пресс-центр</a></li>
                <li class="mob-nav_item"><a href="contacts">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <section class="section1">
        <ul class="section1-nav">
            <li class="section1-nav_item"><a href="papers">Сведения о выпусках ценных бумаг</a></li>
            <li class="section1-nav_item"><a href="meeting">Решение общих собраний акционеров</a></li>
            <li class="section1-nav_item"><a href="directors">Совет директоров</a></li>
        </ul>
    </section>

    <section class="section2">
        <h1 class="section2-title">СВЕДЕНИЯ О ВЫПУСКАХ ЦЕННЫХ БУМАГ</h1>
        <p class="section2-text">
            <h5>Уставный капитал</h5> 

            В соответствии с Уставом АО «Чеченэнерго» уставный капитал составляет 10 603 938 459 рублей и разделен на 10 603 938 459 обыкновенных именных акций номинальной стоимостью 1 рубль каждая. Привилегированные акции не размещались.

            <h5>Сведения об объявленных акциях</h5> 

            Количество объявленных обыкновенных именных акций дополнительно к размещённым составляет 348 804 861 акция номинальной стоимостью 1 рубль каждая на общую сумму по номинальной стоимости акций 348 804 861 рубль.Количество объявленных обыкновенных именных акций дополнительно к размещённым составляет 348 804 861 акция номинальной стоимостью 1 рубль каждая на общую сумму по номинальной стоимости акций 348 804 861 рубль.

            <h5>История эмиссионной деятельности</h5> 

            Первое размещение акций АО «Чеченэнерго» осуществлено на дату государственной регистрации Общества 08.05.2008 в качестве юридического лица путём приобретения акций учредителями – ОАО РАО «ЕЭС России» и ОАО «Чеченская топливно-энергетическая компания». Зарегистрирован первый выпуск ценных бумаг АО «Чеченэнерго» Региональным отделением Федеральной службы по финансовым рынкам в Южном федеральном округе (РО ФСФР России в ЮФО) 29.10.2008 (государственный регистрационный номер 1-01-35075-Е).Первое размещение акций АО «Чеченэнерго» осуществлено на дату государственной регистрации Общества 08.05.2008 в качестве юридического лица путём приобретения акций учредителями – ОАО РАО «ЕЭС России» и ОАО «Чеченская топливно-энергетическая компания». Зарегистрирован первый выпуск ценных бумаг АО «Чеченэнерго» Региональным отделением Федеральной службы по финансовым рынкам в Южном федеральном округе (РО ФСФР России в ЮФО) 29.10.2008 (государственный регистрационный номер 1-01-35075-Е).
            Внеочередным Общим собранием акционеров АО «Чеченэнерго» (Протокол от 07.06.2013 № 8) принято решение об увеличении уставного капитала АО «Чеченэнерго» путём размещения дополнительных обыкновенных именных бездокументарных акций в количестве 8 383 427 634 штуки номинальной стоимостью 1 рубль каждая на общую сумму по номинальной стоимости акций 8 383 427 634 руб. Способ размещения – закрытая подписка.
            18.07.2013 ФСФР России зарегистрирован дополнительный выпуск акций АО «Чеченэнерго». Отчёт об итогах дополнительного выпуска ценных бумаг зарегистрирован Банком России 28.10.2014.
            Внеочередным Общим собранием акционеров АО «Чеченэнерго» (Протокол от 07.09.2016 № 15) принято решение об увеличении уставного капитала АО «Чеченэнерго» путём размещения дополнительных обыкновенных именных бездокументарных акций в количестве 5 068 551 655 штук номинальной стоимостью 1 рубль каждая на общую сумму по номинальной стоимости акций 5 068 551 655 руб. Способ размещения – закрытая подписка. 12.01.2017 Банком России зарегистрирован дополнительный выпуск акций АО «Чеченэнерго». Отчёт об итогах дополнительного выпуска ценных бумаг зарегистрирован Банком России 19.03.2020.

            <h5>История эмиссионной деятельности АО «Чеченэнерго»</h5>
            
            <table>
                <tr>
                    <th>Событие</th>
                    <th>Дата   регистрации   проспекта   ценных бумаг</th>
                    <th>Дата государственной   регистрации выпуска   
                        (дополнительного   выпуска) ценных бумаг   
                        (обыкновенных акций)   и государственный   
                        регистрационный   номер</th>
                    <th>Дата   государственной   регистрации   
                        отчёта об итогах   выпуска   
                        (дополнительного   выпуска) акций</th>
                    <th>Кол-во   обыкновенных   акций, 
                        указанное   в Решении о   выпуске   
                        (дополнительном   выпуске) ценных   бумаг, штук</th>
                    <th>Номинальная   стоимость1   акции, рублей</th>
                </tr>
                <tr>
                    <td>Выпуск 1</td>
                    <td>Не   регистрировался</td>
                    <td>29.10.2008<br>
                        <br>1-01-35075-Е</td>
                    <td>29.10.2008</td>
                    <td>100 000</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Выпуск 2</th>
                    <td>Не   регистрировался</td>
                    <td>18.07.2013<br>
                        <br>1-01-35075-Е-001D</td>
                    <td>28.10.2014</td>
                    <td>8 383 427 634</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Выпуск 3</td>
                    <td>Не   регистрировался</td>
                    <td>12.01.2017<br>
                        <br>1-01-35075-Е-002D</td>
                    <td>19.03.2020</td>
                    <td>5 068 551 655</td>
                    <td>1</td>
                </tr>
            </table>
        </p>
    </section>
    <footer>
        <ul class="footer-nav">
            <li class="footer-nav_item"><a href="home">Главная</a></li>
            <li class="footer-nav_item"><a href="about">Компания</a></li>
            <li class="footer-nav_item"><a href="papers">Акционерам и инвесторам</a></li>
            <li class="footer-nav_item"><a href="office">Потребителям</a></li>
            <li class="footer-nav_item"><a href="news">Пресс-центр</a></li>
            <li class="footer-nav_item"><a href="contacts">Контакты</a></li>
        </ul>

        <ul class="footer-contacts">
            <li class="footer-contact">Телефон: 8 (8712) 22-64-38</li>
            <li class="footer-contact">E-mail: info@chechenergo.ru</li>
            <li class="footer-contact">ЦЕНТР ОБСЛУЖИВАНИЯ ПОТРЕБИТЕЛЕЙ: 8(928) 478-44-10</li>
            <li class="footer-contact">ГОРЯЧАЯ ЛИНИЯ: 8-800-220-02-20</li>
        </ul>
        <ul class="footer-icons">
            <li class="footer-icon"><a href="http://www.cbr.ru/"><img src="{% static 'main/img/bankrussia.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="http://www.atsenergo.ru/"><img src="{% static 'main/img/атс.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://meta.ru/"><img src="{% static 'main/img/fst.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://fas.gov.ru/"><img src="{% static 'main/img/fas.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://www.np-sr.ru/ru"><img src="{% static 'main/img/npsovet.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="https://minenergo.gov.ru/"><img src="{% static 'main/img/min.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="http://www.rosseti.ru/"><img src="{% static 'main/img/rosseti.png' %}" alt=""></a></li>
            <li class="footer-icon"><a href="http://xn----ftbfgnvefarcdio2nna.xn--p1ai/"><img src="{% static 'main/img/souz.png' %}" alt=""></a></li>
        </ul>
        <ul class="footer-social">
            <li class="social-icon"><a href="https://www.youtube.com/channel/UCd80j1zNJXsD4XPSdGZD08g"><i class="fab fa-youtube"></i></a></li>
            <li class="social-icon"><a href="https://www.facebook.com/chechenenergo/"><i class="fab fa-facebook-square"></i></a></li>
            <li class="social-icon"><a href="https://twitter.com/chechenenergo?s=08"><i class="fab fa-twitter-square"></i></a></li>
            <li class="social-icon"><a href="https://www.instagram.com/chechenenergo/?hl=ru"><i class="fab fa-instagram-square"></i></a></li>
            <li class="social-icon"><a href="https://vk.com/chechenenergo"><i class="fab fa-vk"></i></a></li>
            <li class="social-icon"><a href="https://t-do.ru/chechenergo"><i class="fab fa-telegram"></i></a></li>
        </ul>
    </footer>
    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>